header {
  display: flex;
  flex-direction: row;
}

.LogoutButtonContainer {
  position: fixed;
  right: 1rem;
  top: 2rem;
  width: 100px;
}

.LogoContainer {
  position: fixed;
  left: 3rem;
  top: 2rem;
  width: 100px;
}

.navContainer{
  position: fixed;
  right: 16rem;
  top: 2rem;
  width: 100px;
}

.searchContainer{
  position: fixed;
  left: 16rem;
  top: 2rem;
}

.logo{
  width: 110px;
  display: block;
  margin-right: 30px;

}

#MerSearchInput{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px 16px;
  color: var(--alias-color-text-primary-default);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4em;
  background-color: transparent;
  border: none;
  border-radius: 4px 0px 0px 4px;
  outline: none;
  appearance: none;
  color: var(--alias-color-text-primary-default);
  background-color: var(--alias-color-background-secondary-default);
  border: 1px solid var(--alias-color-border-primary-default);
  border-radius: 4px;
}

.navButton{
  padding: 8px;
}
.navButton:hover{
  background-color: var(--alias-color-border-primary-highlight);
  cursor: pointer;
}

header{
  margin-bottom: 50px;
}

.LogoContainer:hover{
  cursor: pointer;
}
.SearchBar{
  width: 300% !important; 
}